.fullnameOfWriter{
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
}

.specificationOfWriter{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: auto 0;
}


.buttonTextSave{
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: white;
}

.TextOftitleOfPopularPostsLeft {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
}

.TitleOfPopularPost {
  font-weight: 500;
  line-height: 18.75px;
  font-size: 16px;
  height: 19px;
  overflow-y: hidden;
}

.AboutOfPopularPost {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  overflow-y: hidden;
  letter-spacing: 0.25px;
}

.personNameOfPopularPost {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1px;
}

.dateOfPopularPost {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25px;
}

.pageNumber {
  font-weight: 500;
  line-height: 18.75px;
  font-size: 16px;
}

.nextButtonText{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: auto 0;
  color: #3E3232BF;
}

.categoryItem{
  font-weight: 500;
  font-size: 13px;
  line-height: 15.23px;
  margin: auto 0;
}