/* #region Contents */
.titleOfContents {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
}

.specificationTextOfContent {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.titleOfContent {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.aboutOfContent{
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
}

.nameOfButtonInAside{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
/* #endregion */

/* #region Aside  */

.personFullnameInAside{
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.postCountInAside{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25px;
}

#followButtonText{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.TitleOfSection{
  font-weight: 500;
  font-size: 20px;
  font-size: 23px;
}

.tagElement{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}

.titleOfTopPostInAside{
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.categoryOfTopPostInAside{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25px;
}

.centerOfImage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* #endregion */

/* #region Comments */

.profileNameInComment{
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
}

.commentTextInComments{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.inputTitleInComment{
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
}

.inputStyleInComment{
  width: 100%;
  background-color: #F5F5F5;
  font-size: 16px;
  border: none;
}

.textareaStyleInComment{
  width: 100%;
  height: 87%;
  border: none;
  font-size: 16px;
  background-color: #F5F5F5;
}

.buttonTextInAddComment{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: white;
}
/* #endregion */

/* #region Related Posts */
.TitleOfRelatedPost{

}
/* #endregion */
